<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list-header style="text-align: center;font-size: 2.5rem;">
    Select Your Hotel Type
    </ion-list-header>    
      <ion-grid>          
        <ion-row *ngFor="let i of rows">
            <div style="width:130px; margin: 0 auto;" *ngFor="let p of services" (click)="selectvalue(p)">
              <div>
                <img style="height: 10em;" src="https://www.forehotels.com/public/assets/img/{{p.icon}}"/> 
                <h2>{{p.title}}</h2>
              </div>
            </div>
        </ion-row>
        </ion-grid>
</ion-content>
