<style>
    .bar-button-clear-ios, .bar-button-default.bar-button-ios-clear, .bar-button-clear-ios-clear{
      color: black;
    }
     #footer {   
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }
    #footerbtn {
        background: #0070FF;
        text-align: center;    
        z-index:1000;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        width: 100%;
        height: 3em;  
        margin: 0px;
    }
        .text-input[disabled] {
          opacity: 1.4 !important;
          height: 100%;
      }
      #myInput{
              height: 82px;
      }
    </style>
      <ion-header>
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button clear (click)="dismiss()" >x</button>
        </ion-buttons>
        <ion-title>Filter</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
       <div padding id="map"></div>
       <form [formGroup]="formMap" (ngSubmit)="apply(formMap.value)">  
            <ion-list style="margin:0px">
            <ion-item (click)="showModal()">
              
        <ion-label *ngIf="address.place == ''">Enter Interview address</ion-label>
        <!-- <ion-label style="white-space:pre-wrap" *ngIf="address.place != ''">{{this.pata}}</ion-label> -->
        <ion-textarea id="myInput" disabled="true" *ngIf="address.place != ''" [formControl]="formMap.controls['thisaddplace']" [(ngModel)]="this.pata"></ion-textarea>
                </ion-item>
            <ion-item>
              <ion-label>{{this.name}}</ion-label>
            </ion-item>
            <ion-item >
            <ion-label>Select Post</ion-label>
              <ion-select [formControl]="formMap.controls['hotel_id']" [(ngModel)]="this.hotel_id">
                <ion-option *ngFor="let item of items" value="{{item.hj_id}}">{{item.pname}}</ion-option>
                </ion-select>
            </ion-item> 
            <ion-item>
          <ion-label style="white-space:pre-wrap">Interview Date & Time</ion-label>
          <ion-datetime [formControl]="formMap.controls['date']" [(ngModel)]="this.myDate" displayFormat="DDDD MMM  D, YYYY- hh:mm A"></ion-datetime>
        </ion-item>
          </ion-list>
          <p style="padding-left:16px">*Note :- Following Details will be sent to candidate, You can also reschedule interview by calling candidate directly</p>
         
          <div id="footer">
              <button ion-button id="footerbtn" [disabled]="!formMap.valid" >Schedule</button>
          </div>
        </form>
    </ion-content>