page-intro-s {
  .pstyle{
    color: #295786
  }
}
.swiper-slide img{
  height: 48% !important;
}
.slide-zoom {
  height: 100%;
}

.slide-title {
  margin-top: 2.8rem;
  color: white
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 18px 0;
}

b {
  font-weight: 500;
}

// p {
//   font-size: 14px;
//   line-height: 1.5;
//   color: #60646B;

//   b {
//     color: #000000;
//   }
// }