<ion-content>
 
    <ion-navbar>
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    
        <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>
    </ion-navbar>
    <ion-list>
        <ion-item *ngFor="let item of items|slice:index:index+10;let i=index" (click)="onClick(item.designation)">
            {{item.designation}}
        </ion-item>
        <br />
        <button [disabled]="index == 0" ion-button style="color: #295786" (click)="decrement()">Previous</button>
        <button [disabled]="index == length" ion-button style="color: #295786" (click)="increment()">Next</button>
    </ion-list>
 
</ion-content>