<!--
  Generated template for the PaidPersonalAssistancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>paid-personal-assistance</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-header>
    <ion-navbar>
      <ion-title>Paid P.A</ion-title>
    </ion-navbar>      
</ion-header>
<ion-content>

   <div style="margin: 0 auto;" *ngIf="this.length == 0"><h3>Please Pay for a Job posted by you to apply for Personal Assistance</h3>
    <button ion-button color="black" outline (click)="goToPA()">
        Go to Personal Asssistance Page&nbsp;&nbsp;
    </button>
    </div>
  <ion-list>
  <ion-item *ngFor="let item of list">
    <ion-avatar item-start>
      <img src="https://www.forehotels.com/public/assets/img/waiter.png">
    </ion-avatar>
    <h2>{{item.pname}}</h2>
    <button style="font-size: 1.6rem;width: 50%;" ion-button color="black" outline>
      <ion-icon name="md-checkmark"></ion-icon>
      &nbsp;&nbsp;&nbsp;Paid  
    </button>  
  </ion-item>
</ion-list>

</ion-content>
